{% extends 'layout.html' %}
{% block content %}
	<div class="ui masthead">
		<div class="ui text container">
			<h1 class="ui inverted header">
				Chat.
			</h1>
			<h3 class="ui inverted header">
				Experience communication like never before.
			</h3>
			<button class="ui inverted black button">Take me there!</button>
		</div>
	</div>
	<div id="firstType">
		<div id="content">
			<div class="ui text container">
				<p class="description light"><b>Chat.</b> is a light-weight chat plaform that aims to provide customers what they actually need.</p>
				<h2 class="ui black button">Signup Now!</h2>
			</div>
		</div>		
	</div>
	<!--
	<div id="secondType">
		<div id="content">
			<div class="ui container">
				<div class="ui grid">
					<div class="row">
						<div class="four wide column">
							<div class="ui card" id="featureCard">
								<div class="ui slide masked reveal">
									<div class="visible content"></div>
									<div class="hidden content">Hidden</div>
								</div>
							</div>		
						</div>
						<div class="four wide column">
							<div class="ui card" id="featureCard">
								<div class="ui slide masked reveal">
									<div class="visible content">Visble!</div>
									<div class="hidden content">Hidden</div>
								</div>
							</div>		
						</div>
						<div class="four wide column">
							<div class="ui card" id="featureCard">
								<div class="ui slide masked reveal">
									<div class="visible content">Visble!</div>
									<div class="hidden content">Hidden</div>
								</div>
							</div>		
						</div>
						<div class="four wide column">
							<div class="ui card" id="featureCard">
								<div class="ui slide masked reveal">
									<div class="visible content">Visble!</div>
									<div class="hidden content">Hidden</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
{% endblock content %}